[user]
  name = Fotios Lindiakos
  #email = fotioslindiakos@gmail.com
  email = fotios@redhat.com
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  b = branch -vv
  s = status
  ci = commit
  co = checkout
  br = branch
  wc = whatchanged
  fix = commit --amend -C HEAD
  d = diff
  pa = submodule foreach git fetch
  sb = submodule foreach git status -sb
  lc = log ORIG_HEAD.. --stat --no-merges
  sync = "!f() { echo Syncing $1 with master && git checkout master && git pull && git checkout $1 && git rebase master; }; f"
[core]
  excludesfile = /home/fotios/.gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[merge]
  tool = vimdiff
[branch]
  autosetupmerge = true
[github]
	user = fotioslindiakos
[push]
	default = upstream
